<h1>利用者一覧</h1>

 <table>
<th>名前</th>
<th>電話番号</th>
<th>住所</th>
<th></th>
<% @users.each{|num| %>
<tr>
  <td><%= num.name %></td>
  <td><%= num.tell %></td>
  <td><%= num.address %></td>
  <td><%= link_to '詳細', user_path(num.id)%></td>
  <td><%= link_to '編集',edit_user_path(num.id)%></td>
  <td><%= link_to '削除',user_path(num.id), method: :delete,data: {confirm: '本当に消去しますか？'} %></td>
  </tr>
  <% } %>
</table>

<%=  link_to '新規作成',new_user_path %>