<ul>
<% @book.errors.full_messages.each do |msg| %>
	<li><%= msg%></li>
<% end %>
</ul>

<%= form_for(@book) do |f| %>

	<div class= "field">
	  <%= f.label :name %><br/>
	  <%= f.text_field :name %>
	</div>
	<div class= "field">
	  <%= f.label :author %><br/>
	  <%= f.text_field :author %>
	</div>
	<div class= "field">
	  <%= f.label :company %><br/>
	  <%= f.text_field :company %>
	</div>
	<div class= "field">
	  <%= f.label :code %><br/>
	  <%= f.text_field :code %>
	</div>
	<div class= "field">
	  <%= f.label :publish_date %><br/>
	  <%= f.date_field :publish_date %>
	</div>

	<%= f.submit %>
<% end %>